.container_header {
  margin: 20px;
  color: #000;
  font-family: DM Sans;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.card {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin: 0 auto;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
}
.movie {
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 1px 13px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  overflow: hidden;
  transition: all 1s;
  margin: 20px;
  padding: 10px;
  transition: all 1s;
}
.movie:hover {
  transform: scale(1.05);
}
.poster img {
  width: 100%;
  object-fit: contain;
}
.detail {
  width: 100%;
  position: absolute;
  visibility: hidden;
  bottom: 0;
  padding: 5px;
  transition: all 1s ease;
}
.movie:hover .detail {
  visibility: initial;
  background-color: #ffffff;
  color: black;
  transform: translateY(-0%);
}
.title {
  font-size: 20px;
  font-weight: 800;
  text-transform: capitalize;
}

.link_btn {
  position: absolute;
  display: inline-flex;
  width: 30px;
  height: 30px;
  top: 5%;
  right: 10%;
  justify-content: center;
  padding: 5px;
  color: #fff;
  visibility: hidden;
  border-radius: 50%;
  background-color: rgba(243, 244, 246, 0.5);
}
.link_btn:hover {
  background-color: hsla(0, 100%, 50%, 0.753);
}
.movie:hover .link_btn {
  visibility: inherit;
}
.down_detail {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  color: var(--gray-400, #9ca3af);
  font-family: DM Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media screen and (max-width: 1024px) {
  .card {
    display: grid;
    grid-template-columns: auto auto;
  }
}
@media screen and (max-width: 500px) {
  .card {
    display: grid;
    grid-template-columns: auto;
  }
}
